/build
/lake-packages/*
LaTeX/TS1.aux
LaTeX/TS1.Decomposability.aux
LaTeX/TS1.EulerPoincareCharacteristic.aux
LaTeX/TS1.FiniteCoxeterComplex.aux
LaTeX/TS1.FiniteOrderedPartitions.aux
LaTeX/TS1.FiniteWeightedComplex.aux
LaTeX/TS1.log
LaTeX/TS1.pdf
LaTeX/TS1.Shellability.aux
LaTeX/TS1.WeakBruhatOrder.aux
